
<div class="clr-row">
    <div class="clr-col-lg-6 clr-col-12">
        <a href="..." class="card clickable">
            <div class="card-img">
                <img src="https://cdn.pixabay.com/photo/2019/09/16/17/28/cat-4481566__340.jpg">
            </div>
            <div class="card-block">
                <p class="card-text">
                   Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem aspernatur cum dolore, dignissimos debitis
                   accusantium consequatur provident placeat tenetur facilis similique optio itaque unde ab iusto eligendi deleniti vero error.
                </p>
            </div>
        </a>
    </div>
</div>
