.boton_personalizado{
  text-decoration: none;
  padding: 1px;
  margin-top: 2px;
  width: 215px;
  font-size: 10px;
  color: #ecf5f5;
  background-color: #5164d1;
  border-radius: 6px;
  border: .2px solid #f6f6f8;

-webkit-box-shadow: 4px 11px 5px -6px rgba(115, 107, 226, 0.6);
-moz-box-shadow: 4px 11px 5px -6px rgba(119, 126, 233, 0.6);
box-shadow: 4px 11px 5px -6px rgba(119, 126, 233, 0.6);



}
