

<h1>Agregar Mascota para adopción</h1>

    <form clrForm  method="POST"   [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <clr-input-container>
      <label>nombre</label>
      <input clrInput type="text"   formControlName="nombre"  required/>
      <clr-control-error>Debe indicar su nombre</clr-control-error>
  </clr-input-container>
  <clr-input-container>
      <label>tipo</label>
      <input clrInput type="text"   formControlName="tipo"  required/>
      <clr-control-error>Debe indicar su tipo</clr-control-error>
  </clr-input-container>
  <clr-input-container>
    <label>edad</label>
    <input clrInput type="number"  formControlName="edad" required/>
    <clr-control-error>Debe indicar una edad (solo numeros)</clr-control-error>
</clr-input-container>
  <clr-input-container>
      <label>descripcion</label>
      <input clrInput type="text"  formControlName="descripcion"  required/>
      <clr-control-error>Debe indicar una descripcion</clr-control-error>
  </clr-input-container>
  <br>
  <button type="submit" class="btn btn-success" [disabled]="!profileForm.valid">Agregar</button>

  <button class="btn btn-primary" >Reset</button>

  <button class="btn btn-warning-outline">Cancelar</button>


</form>

