
<h1>Mascotas para adoptar</h1>


<div class="clr-row">
    <div class="clr-col-8">
      <a><button class="btn btn-info-outline" routerLink="mascotas-agregar">AGREGAR MASCOTA </button></a>

<table class="table" >
    <thead>
        <tr>
            <th>nombre</th>
            <th>tipo</th>
            <th>edad</th>
            <th>descripcion</th>
        </tr>
    </thead>
    <tbody *ngFor="let mascota of mascotas">
        <tr>
            <td>{{mascota.nombre}}</td>
            <td>{{mascota.tipo}}</td>
            <td>{{mascota.edad}}</td>
            <td>{{mascota.descripcion}}</td>
        </tr>

    </tbody>
</table>
</div>






