
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <div class="clr-row clr-align-items-center">
        <div class="clr-col-6">
            <span>Bienvenido</span>
        </div>
        <div class="clr-col-12  ">
            <span><img src="assets/img/panda.jpg"></span> <!---Agrego Panda-->
        </div>
    </div>
</body>
</html>





